<nav>
    <div class="menu">
        <div class="logo-div">
            <a href="/" class="logo-link">
                <div class="logo-div-content">
                    <img src="/images/img-logo.svg" class="logo-img" alt="medplanner logo">
                    <p class="logo-p">MedPlanner</p>
                </div>
            </a>
        </div>
        <div class="menu-div">
            <div class="menu-div-content">
                <div class="menu-div-content-doctor">
                    <img src="/images/img-doctor.png" class="profile-picture" alt="profile picture">
                    <div class="doctor-name">
                        <p class="doctor-name-p">dr <span>Ruth Zimmer</span></p>
                    </div>
                </div>
                <div class="menu-div-content-navlinks">
                    <div class="navlink-group">
                        <a href="/appointments" class="navlink">
                            <img src="/images/icons/menu-icons/img-icon-appointments.svg" class="navlink-icon" alt="appointments icon">
                            <div class="navlink-div">
                                <span>Appointments</span>
                                <div class="border-decoration"></div>
                            </div>
                        </a>
                    </div>
                    <div class="navlink-group">
                        <a href="#" class="navlink">
                            <img src="/images/icons/menu-icons/img-icon-calendar.svg" class="navlink-icon" alt="calendar icon">
                            <div class="navlink-div">
                                <span>Calendar</span>
                                <div class="border-decoration"></div>
                            </div>
                        </a>
                    </div>
                    <div class="navlink-group">
                        <a href="#" class="navlink">
                            <img src="/images/icons/menu-icons/img-icon-patients.svg" class="navlink-icon" alt="patients icon">
                            <div class="navlink-div">
                                <span>Patients</span>
                                <div class="border-decoration"></div>
                            </div>
                            <div class="notification-div">
                                <div class="notification-div-content">
                                    <span class="notification-info">5</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="navlink-group">
                        <a href="#" class="navlink">
                            <img src="/images/icons/menu-icons/img-icon-tests.svg" class="navlink-icon" alt="tests icon">
                            <div class="navlink-div">
                                <span>Tests</span>
                                <div class="border-decoration"></div>
                            </div>
                            <div class="notification-div">
                                <div class="notification-div-content">
                                    <span class="notification-info">85</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="navlink-group">
                        <a href="#" class="navlink">
                            <img src="/images/icons/menu-icons/img-icon-settings.svg" class="navlink-icon" alt="settings icon">
                            <div class="navlink-div">
                                <span>Settings</span>
                                <div class="border-decoration"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-show-hide-div">
            <img src="/images/icons/elements-icons/img-icon-menu-toggle-arrow.svg" alt="">
        </div>
    </div>
</nav>