<%- layout('layouts/boilerplate') %> 

    <%- include('login-register/includes/header.ejs') %>

    <main class="main-unset">
        <div class="main-div-404">
            <div class="main-div-404-content">
                <h2>404 Error Page</h3>
                <p>We couldn't find the page you were looking for.</p>
                <a href="/" class="btn-primary">Back to dashboard</a>
            </div>
        </div>
    </main>