<%- layout('layouts/boilerplate') %> 
<!-- BOILERPLATE -->
    <%- include('includes/navigation-side.ejs') %>

    <header>
        <section>
            <div class="background-top">
                <div class="background-top-content">
                    <div class="background-top-content-title">
                        <h1>New Appointment
                            <span class="text-gray"> | </span>
                            <span class="text-gray">patient name</span>
                        </h1>
                        <div class="border-decoration"></div>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <main>
        <div class="main-div">
            <div class="main-div-content">

            </div>
        </div>
    </main>

    <script src="/js/script.js"></script>