<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Appointment | New Appointment</title>
</head>

<body>

    <%- include('includes/navigation-side.ejs') %>

    <header>
        <section>
            <div class="background-top">
                <div class="background-top-content">
                    <div class="background-top-content-title">
                        <h1>New Appointment
                            <span class="text-gray"> | </span>
                            <span class="text-gray">patient name</span>
                        </h1>
                        <div class="border-decoration"></div>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <main>
        <div class="main-div">
            <div class="main-div-content">

            </div>
        </div>
    </main>

    <script src="/js/script.js"></script>
    
</body>
</html>