<%- layout('layouts/boilerplate') %> 
<!-- BOILERPLATE -->
    <%- include('includes/navigation-side.ejs') %>

    <header>
        <section>
            <div class="background-top">
                <div class="background-top-content">
                    <div class="background-top-content-title">
                        <h1>Appointments</h1>
                        <div class="border-decoration"></div>
                    </div>
                    <div class="background-top-content-buttons">
                        <select name="sort-appointments" id="sort-appointments">
                            <option value="all">Filter appointments</option>
                            <option value="today">Today</option>
                            <option value="tomorrow">Tomorrow</option>
                            <option value="this-week">This week</option>
                            <option value="next-week">Next week</option>
                        </select>
                        <a href="/appointments/new" class="btn-primary">+ New appointment</a>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <main>
        <div class="main-div">
            <div class="main-div-content">
                <div class="timeframe-div">
                    <h2>Today</h2>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Anna Becker</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-female.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>16.09.1987.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p>
                                        <span>Follow up:</span>
                                        <span> </span>
                                        <span>increased glucose levels</span>
                                        <span class="text-gray"> — </span>
                                        <span class="high-prio">high prio</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-clock.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>12.30 — 13.30 h</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Asja Novak</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-female.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>24.02.1965.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p>
                                        <span>Acute:</span>
                                        <span> </span>
                                        <span>common cold</span>
                                        <span class="text-gray"> — </span>
                                        <span class="medium-prio">medium prio</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-clock.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>14.00 — 14.30 h</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Ashton Smith-Nilsson</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-male.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>09.12.1983.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p>
                                        <span>Regular:</span>
                                        <span> </span>
                                        <span>yearly checkup</span>
                                        <span class="text-gray"> — </span>
                                        <span class="regular-prio">regular prio</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-clock.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>14.30 — 15.00 h</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">

                        </div>
                    </div>
                </div>
                <div class="timeframe-div">
                    <h2>Tomorrow</h2>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Anna Becker</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-female.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>16.09.1987.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p>
                                        <span>Follow up:</span>
                                        <span> </span>
                                        <span>increased glucose levels</span>
                                        <span class="text-gray"> — </span>
                                        <span class="high-prio">high prio</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-clock.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>12.30 — 13.30 h</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Asja Novak</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-female.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>24.02.1965.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p>
                                        <span>Acute:</span>
                                        <span> </span>
                                        <span>common cold</span>
                                        <span class="text-gray"> — </span>
                                        <span class="medium-prio">medium prio</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-clock.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>14.00 — 14.30 h</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Ashton Smith-Nilsson</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-male.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>09.12.1983.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p>
                                        <span>Regular:</span>
                                        <span> </span>
                                        <span>yearly checkup</span>
                                        <span class="text-gray"> — </span>
                                        <span class="regular-prio">regular prio</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-clock.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>14.30 — 15.00 h</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">

                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">

                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">

                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">

                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">

                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">

                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">

                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">

                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="js/script.js"></script>