<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Log In | MedPlanner</title>
</head>

<body>

    <header>
        <section>
            <div class="background-top background-top-login">
                <div class="logo-div logo-div-login">
                    <a href="/" class="logo-link">
                        <div class="logo-div-content">
                            <img src="/images/img-logo.svg" class="logo-img" alt="medplanner logo">
                            <p class="logo-p">MedPlanner</p>
                        </div>
                    </a>
                </div>
        </section>
    </header>

    <main class="main-unset">
        <div class="main-div-form">
            <div class="main-div-form-content">
                <div class="form-header">
                    <div class="form-header-content">
                        <img src="/images/icons/menu-icons/img-icon-patients.svg" alt="user icon">
                        <h2>Log In</h2>
                    </div>
                </div>
                <form action="">
                    <fieldset>
                        <label for="username">Username</label>
                        <input type="text" id="username">
                    </fieldset>
                    <fieldset>
                        <label for="password">Password</label>
                        <input type="password" id="password">
                    </fieldset>
                    <button class="btn-primary">Log in</button>
                </form>
            </div>
        </div>
    </main>

    <script src="js/script.js"></script>
    
</body>
</html>