<%- layout('layouts/boilerplate') %> 
<!-- BOILERPLATE -->
    <%- include('includes/navigation-side.ejs') %>

    <header>
        <section>
            <div class="background-top">
                <div class="background-top-content">
                    <div class="background-top-content-title">
                        <h1>Patients</h1>
                        <div class="border-decoration"></div>
                    </div>
                    <div class="background-top-content-buttons">
                        <select name="sort-patients" id="sort-patients">
                            <option value="all">Sort patients by...</option>
                            <option value="first-a-z">first name A to Z</option>
                            <option value="first-z-a">first name Z to A</option>
                            <option value="last-a-z">last name A to Z</option>
                            <option value="last-z-a">last name Z to A</option>
                            <option value="last-visit-desc">recent visit</option>
                            <option value="last-visit-asc">early visit</option>
                        </select>
                        <a href="#" class="btn-primary">+ New patient</a>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <main>
        <div class="main-div">
            <div class="main-div-content">
                <div class="timeframe-div">
                    <h2>A</h2>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Anna Becker</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-female.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>16.09.1987.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p class="patient-details-phone-div">
                                        <img src="images/icons/dashboard-icons/img-icon-phone.svg" alt="phone icon">
                                        <span class="text-gray"> | </span>
                                        <span>+361/060-144-9826</span>
                                    </p>
                                    <p class="patient-details-email-div">
                                        <span class="email-symbol"> @</span>
                                        <span class="text-gray"> | </span>
                                        <span>a.beck@email.com</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-house.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>last visit: </span>
                                        <span>02.11.2014.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Asja Novak</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-female.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>24.02.1965.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p class="patient-details-phone-div">
                                        <img src="images/icons/dashboard-icons/img-icon-phone.svg" alt="phone icon">
                                        <span class="text-gray"> | </span>
                                        <span>+361/060-144-9826</span>
                                    </p>
                                    <p class="patient-details-email-div">
                                        <span class="email-symbol"> @</span>
                                        <span class="text-gray"> | </span>
                                        <span>a.nova@email.com</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-house.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>last visit: </span>
                                        <span>03.01.2018.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeframe-div">
                    <h2>B</h2>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Ashton Smith-Nilsson</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-male.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>09.12.1983.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p class="patient-details-phone-div">
                                        <img src="images/icons/dashboard-icons/img-icon-phone.svg" alt="phone icon">
                                        <span class="text-gray"> | </span>
                                        <span>+361/035-555-9252</span>
                                    </p>
                                    <p class="patient-details-email-div">
                                        <span class="email-symbol"> @</span>
                                        <span class="text-gray"> | </span>
                                        <span>a.smnils@email.com</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-house.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>last visit: </span>
                                        <span>03.01.2018.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>                   <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Ashton Smith-Nilsson</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-male.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>09.12.1983.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p class="patient-details-phone-div">
                                        <img src="images/icons/dashboard-icons/img-icon-phone.svg" alt="phone icon">
                                        <span class="text-gray"> | </span>
                                        <span>+361/035-555-9252</span>
                                    </p>
                                    <p class="patient-details-email-div">
                                        <span class="email-symbol"> @</span>
                                        <span class="text-gray"> | </span>
                                        <span>a.smnils@email.com</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-house.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>last visit: </span>
                                        <span>03.01.2018.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Anna Becker</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-female.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>16.09.1987.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p class="patient-details-phone-div">
                                        <img src="images/icons/dashboard-icons/img-icon-phone.svg" alt="phone icon">
                                        <span class="text-gray"> | </span>
                                        <span>+361/060-144-9826</span>
                                    </p>
                                    <p class="patient-details-email-div">
                                        <span class="email-symbol"> @</span>
                                        <span class="text-gray"> | </span>
                                        <span>a.beck@email.com</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-house.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>last visit: </span>
                                        <span>02.11.2014.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Asja Novak</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-female.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>24.02.1965.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p class="patient-details-phone-div">
                                        <img src="images/icons/dashboard-icons/img-icon-phone.svg" alt="phone icon">
                                        <span class="text-gray"> | </span>
                                        <span>+361/060-144-9826</span>
                                    </p>
                                    <p class="patient-details-email-div">
                                        <span class="email-symbol"> @</span>
                                        <span class="text-gray"> | </span>
                                        <span>a.nova@email.com</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-house.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>last visit: </span>
                                        <span>03.01.2018.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Ashton Smith-Nilsson</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-male.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>09.12.1983.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p class="patient-details-phone-div">
                                        <img src="images/icons/dashboard-icons/img-icon-phone.svg" alt="phone icon">
                                        <span class="text-gray"> | </span>
                                        <span>+361/035-555-9252</span>
                                    </p>
                                    <p class="patient-details-email-div">
                                        <span class="email-symbol"> @</span>
                                        <span class="text-gray"> | </span>
                                        <span>a.smnils@email.com</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-house.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>last visit: </span>
                                        <span>03.01.2018.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Anna Becker</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-female.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>16.09.1987.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p class="patient-details-phone-div">
                                        <img src="images/icons/dashboard-icons/img-icon-phone.svg" alt="phone icon">
                                        <span class="text-gray"> | </span>
                                        <span>+361/060-144-9826</span>
                                    </p>
                                    <p class="patient-details-email-div">
                                        <span class="email-symbol"> @</span>
                                        <span class="text-gray"> | </span>
                                        <span>a.beck@email.com</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-house.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>last visit: </span>
                                        <span>02.11.2014.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">

                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">

                        </div>
                    </div>
                </div>
                <div class="timeframe-div">
                    <h2>C</h2>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Anna Becker</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-female.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>16.09.1987.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p class="patient-details-phone-div">
                                        <img src="images/icons/dashboard-icons/img-icon-phone.svg" alt="phone icon">
                                        <span class="text-gray"> | </span>
                                        <span>+361/060-144-9826</span>
                                    </p>
                                    <p class="patient-details-email-div">
                                        <span class="email-symbol"> @</span>
                                        <span class="text-gray"> | </span>
                                        <span>a.beck@email.com</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-house.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>last visit: </span>
                                        <span>02.11.2014.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appointment-div">
                        <div class="appointment-div-content">
                            <div class="appointment-div-content-patient">
                                <p>
                                    <span>Asja Novak</span>
                                    <span class="text-gray"> — </span>
                                    <img src="images/icons/dashboard-icons/img-icon-female.svg" alt="female symbol icon">
                                    <span class="text-gray"> | </span>
                                    <span>24.02.1965.</span>
                                </p>
                            </div>
                            <div class="appointment-div-content-appointment-topic-time">
                                <div class="appointment-div-content-appointment-topic">
                                    <p class="patient-details-phone-div">
                                        <img src="images/icons/dashboard-icons/img-icon-phone.svg" alt="phone icon">
                                        <span class="text-gray"> | </span>
                                        <span>+361/060-144-9826</span>
                                    </p>
                                    <p class="patient-details-email-div">
                                        <span class="email-symbol"> @</span>
                                        <span class="text-gray"> | </span>
                                        <span>a.nova@email.com</span>
                                    </p>
                                </div>
                                <div class="appointment-div-content-appointment-time">
                                    <p>
                                        <img src="images/icons/dashboard-icons/img-icon-house.svg" alt="clock icon">
                                        <span class="text-gray"> | </span>
                                        <span>last visit: </span>
                                        <span>03.01.2018.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="js/script.js"></script>