@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");
html {
  height: 100vh;
  overflow-y: hidden;
}

body {
  background-color: #E4F3FF;
  color: #2F76B0;
  font-family: "Raleway", sans-serif;
}

h1, h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 10px;
}

.border-decoration {
  background-color: #E4F3FF;
  height: 10px;
  width: 60px;
  border-radius: 5px;
}

h1 ~ .border-decoration {
  margin-top: -9px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 3px 2px 8px rgba(51, 51, 51, 0.05);
          box-shadow: inset 3px 2px 8px rgba(51, 51, 51, 0.05);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #E4F3FF;
  border-radius: 10px;
  -webkit-box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
          box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
}

.btn-primary {
  background-color: #F1A15B;
  color: #FFFFFF;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 8px 15px;
  border: 1px solid #F1A15B;
  text-decoration: none;
  -webkit-transition: background-color 0.5s, border 0.5s, color 0.5s;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
  -webkit-box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
          box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
}

.btn-primary:hover {
  background-color: #FFFFFF;
  border: 1px solid #2F76B0;
  color: #2F76B0;
}

select {
  background-color: #FFFFFF;
  border: 1px solid #EDEDED;
  color: #2F76B0;
  font-size: 12px;
  padding: 8px 30px 8px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
          box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
  text-transform: uppercase;
  outline: transparent;
  /* remove dropdown arrow */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/icons/elements-icons/img-icon-dropdown-arrow.svg) no-repeat right;
  background-position-x: 93%;
  outline: transparent;
}

.text-gray, .regular-prio {
  color: #C4C4C4;
}

.medium-prio {
  color: #434198;
}

.high-prio {
  color: #F1A15B;
}

.regular-prio, .medium-prio, .high-prio {
  text-transform: uppercase;
  font-size: 14px;
}

.logo-div {
  background-color: #E4F3FF;
  height: 65px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-div .logo-div-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-div .logo-div-content .logo-p {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

.logo-div .logo-div-content .logo-img {
  height: 20px;
  margin-bottom: 3px;
}

.background-top {
  background-color: #FFFFFF;
  height: 65px;
  -webkit-box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
          box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-top .background-top-content {
  width: 100%;
  padding: 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.background-top .btn-primary {
  margin-left: 20px;
}

#menu {
  width: 180px;
  height: 100vh;
  background-color: #FFFFFF;
  -webkit-box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
          box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
  float: left;
}

#menu .menu-show-hide-div {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  -webkit-box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
          box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
  background-color: #F7FBFF;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  position: relative;
  left: 14px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

#menu .menu-show-hide-div img {
  width: 6px;
}

#menu .menu-show-hide-div:hover {
  background-color: #E4F3FF;
  cursor: pointer;
}

.menu-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-div .border-decoration {
  margin-top: -7px;
}

.menu-div .menu-div-content {
  margin-top: 50px;
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-div .menu-div-content .menu-div-content-doctor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.menu-div .menu-div-content .menu-div-content-doctor .profile-picture {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.menu-div .menu-div-content .menu-div-content-doctor p {
  font-size: 14px;
  text-transform: uppercase;
  z-index: 1;
}

.navlink-group {
  margin-bottom: 30px;
}

.navlink-group .navlink-icon {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.navlink {
  text-transform: uppercase;
  text-decoration: none;
  color: #2F76B0;
  font-size: 14px;
}

.navlink div:first-child, .navlink .navlink-div {
  display: inline-block;
}

.navlink .border-decoration {
  width: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.navlink .border-decoration-hovered {
  width: 35px;
}

.navlink .notification-div {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.navlink .notification-div .notification-div-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/icons/menu-icons/img-icon-notification.svg) no-repeat center;
  background-size: cover;
  height: 18px;
  width: 20px;
  position: relative;
  bottom: 10px;
}

.navlink .notification-div .notification-div-content .notification-info {
  font-family: "Roboto", sans-serif;
  font-size: 8.5px;
  color: #FFFFFF;
  position: relative;
  top: 1.5px;
}

main {
  /* remove sidebar */
  width: calc(100vw - 180px);
  /* remove top */
  height: calc(100vh - 65px);
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-div {
  background-color: #FFFFFF;
  width: 95%;
  height: 95%;
  border-radius: 10px;
  -webkit-box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
          box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-div .main-div-content {
  width: calc(95% - 10px);
  height: calc(95% - 20px);
  overflow-y: auto;
}

.main-div .main-div-content .timeframe-div {
  margin-bottom: 35px;
  width: calc(98% - 10px);
}

.main-div .main-div-content .timeframe-div:last-child {
  margin-bottom: 0;
}

.main-div .main-div-content .timeframe-div h2 {
  margin-bottom: 25px;
}

.main-div .main-div-content .timeframe-div .appointment-div {
  width: 100%;
  height: 50px;
  background-color: #F7FBFF;
  border-radius: 10px;
  -webkit-box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
          box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-div .main-div-content .timeframe-div .appointment-div .appointment-div-content {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-div .main-div-content .timeframe-div .appointment-div .appointment-div-content .appointment-div-content-patient {
  width: 37%;
}

.main-div .main-div-content .timeframe-div .appointment-div .appointment-div-content .appointment-div-content-appointment-topic-time {
  width: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */