@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap')


$color-blue-primary: #2F76B0
$color-blue-secondary: #E4F3FF
$color-blue-tertiary: #F7FBFF
$color-orange-highlight: #F1A15B
$color-purple-primary: #434198
$color-purple-secondary: #F7F7FF
$color-gray-primary: #878787
$color-gray-secondary: #C4C4C4
$color-gray-tertiary: #EDEDED
$color-white: #FFFFFF
$box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05)
$border-radius-big: 10px
$border-radius-small: 5px
$font-family-montserrat: 'Montserrat', sans-serif
$font-family-raleway: 'Raleway', sans-serif
$font-family-roboto: 'Roboto', sans-serif
$short-transition: 0.5s
$double-transition: 1s


html 
    height: 100vh
    overflow-y: hidden


body 
    background-color: $color-blue-tertiary
    color: $color-blue-primary
    font-family: $font-family-raleway


h1, h2, label
    text-transform: uppercase
    font-family: $font-family-montserrat


h1 
    font-size: 25px


h2, label 
    font-size: 20px
    font-weight: 600


label
    font-size: 16px


.link
    color: $color-orange-highlight
    font-size: 14px
    transition: color 0.5s

    &:hover
        color: $color-blue-primary

::-webkit-scrollbar 
    width: 10px


.border-decoration 
    background-color: $color-blue-secondary
    height: 10px
    width: 60px
    border-radius: $border-radius-small

    h1 ~ &
        margin-top: -9px


/* Track */
::-webkit-scrollbar-track 
    box-shadow: inset $box-shadow 
    border-radius: $border-radius-big


/* Handle */
::-webkit-scrollbar-thumb 
    background-color: $color-blue-secondary 
    border-radius: $border-radius-big
    box-shadow: $box-shadow


.btn-primary
    background-color: $color-orange-highlight
    color: $color-white
    font-size: 12px
    text-transform: uppercase
    border-radius: $border-radius-small
    padding: 8px 15px
    border: 1px solid $color-orange-highlight
    text-decoration: none
    transition: background-color $short-transition, border $short-transition, color $short-transition
    box-shadow: $box-shadow

    &:hover
        background-color: $color-white
        border: 1px solid $color-blue-primary
        color: $color-blue-primary


select
    background-color: $color-white
    border: 1px solid $color-gray-tertiary
    color: $color-blue-primary
    font-size: 12px
    padding: 8px 30px 8px 15px
    border-radius: $border-radius-small
    box-shadow: $box-shadow
    text-transform: uppercase
    outline: transparent

    /* remove dropdown arrow */
    appearance: none
    background: url(../images/icons/elements-icons/img-icon-dropdown-arrow.svg) no-repeat right
    background-position-x: 93%

    outline: transparent


.text-gray, .regular-prio
    color: $color-gray-secondary


.medium-prio
    color: $color-purple-primary


.high-prio
    color: $color-orange-highlight


.regular-prio, .medium-prio, .high-prio
    text-transform: uppercase
    font-size: 14px
    

.logo-div 
    background-color: $color-blue-secondary
    height: 65px
    width: 180px
    display: flex
    align-items: center
    justify-content: center
    transition: width $short-transition

    .logo-div-content 
        display: flex
        flex-direction: column
        align-items: center

        .logo-p 
            font-size: 10px
            font-family: $font-family-montserrat

        .logo-img 
            height: 20px
            margin-bottom: 3px


.logo-link
    color: $color-blue-primary
    text-decoration: none

.background-top 
    background-color: $color-white
    height: 65px
    box-shadow: $box-shadow
    display: flex
    align-items: center

    .background-top-content 
        width: 100%
        padding: 0 35px
        display: flex
        align-items: center
        justify-content: space-between

    .btn-primary
        margin-left: 20px


.menu 
    width: 180px
    height: 100vh
    background-color: $color-white
    box-shadow: $box-shadow
    float: left
    transition: width $short-transition

    .menu-show-hide-div
        border-radius: 50%
        height: 30px
        width: 30px
        box-shadow: $box-shadow
        background-color: $color-blue-tertiary
        float: right
        display: flex
        justify-content: center
        margin-top: 120px
        position: relative
        left: 14px
        transition: background-color $short-transition

        img
            width: 6px
            transition: transform $double-transition

        &:hover
            background-color: $color-blue-secondary
            cursor: pointer


.menu-div
    display: flex
    justify-content: center

    .menu-div-content
        margin-top: 50px
        max-width: 150px
        display: flex
        flex-direction: column

        .menu-div-content-navlinks
            height: 265px

        .menu-div-content-doctor
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 50px
            width: 100%

            .profile-picture
                border-radius: 50%
                width: 30px
                height: 30px
                margin-bottom: 20px


.menu-div-content-collapsed
    width: 80px


.doctor-name
    width: 100%

.doctor-name-p
    font-size: 14px
    text-transform: uppercase
    text-align: center
    width: 100%
    overflow-wrap: break-word
    transition: font-size $short-transition

.doctor-name-p-collapsed
    font-size: 12px


.navlink-group
    margin-bottom: 30px


.navlink-group-collapsed
    margin-left: 36.5%


.navlink-icon
    width: 12px
    height: 12px
    margin-right: 8px
    transition: width $short-transition, height $short-transition


.navlink-icon-collapsed
    width: 20px
    height: 20px
    margin-right: 5px


.navlink
    text-transform: uppercase
    text-decoration: none
    color: $color-blue-primary
    font-size: 14px

    div:first-child
        display: inline-block

    .border-decoration
        width: 0
        margin-top: -7px 
        transition: width $short-transition
    
    .border-decoration-hovered
        width: 35px

    .notification-div
        display: inline-block
        width: fit-content

        .notification-div-content
            display: flex
            justify-content: center
            background: url(../images/icons/menu-icons/img-icon-notification.svg) no-repeat center
            background-size: cover
            height: 18px
            width: 20px
            position: relative
            bottom: 10px
            
            .notification-info
                font-family: $font-family-roboto
                font-size: 8.5px
                color: $color-white
                position: relative
                top: 1.5px


.navlink-div
    display: inline-block

.hide
    display: none
 
.menu-hide
    width: 100px


.rotate-180
    transform: rotate(180deg)


main 
    /* remove sidebar */
    width: calc(100vw - 180px)
    /* remove top */
    height: calc(100vh - 65px)
    float: left
    display: flex
    align-items: center
    justify-content: center
    transition: width $short-transition

.main-collapsed
    width: calc(100vw - 100px)


.main-div 
    background-color: $color-white
    width: 95%
    height: 95%
    border-radius: $border-radius-big
    box-shadow: $box-shadow
    display: flex
    justify-content: center
    align-items: center

    .main-div-content 
        width: calc(95% - 10px)
        height: calc(95% - 20px)
        overflow-y: auto

        .timeframe-div
            margin-bottom: 35px
            width: calc(98% - 10px)

            &:last-child 
                margin-bottom: 0   

            h2 
                margin-bottom: 25px

            .appointment-div 
                width: 100%
                height: 50px
                background-color: $color-blue-tertiary
                border-radius: $border-radius-big
                box-shadow: $box-shadow
                margin-bottom: 20px
                display: flex
                align-items: center

                .appointment-div-content
                    padding: 0 20px
                    display: flex
                    width: 100%

                    .appointment-div-content-patient
                        width: 37%

                    .appointment-div-content-appointment-topic-time
                        width: 63%
                        display: flex
                        justify-content: space-between

                        .appointment-div-content-appointment-topic
                            display: flex

                            .patient-details-phone-div
                                margin-right: 12px

.email-symbol
    font-family: $font-family-montserrat
    font-weight: 600
    font-size: 12px

// LOGIN - REGISTRATION
.background-top-login
    background-color: $color-blue-secondary
    justify-content: center

    .logo-div-login
        background-color: $color-blue-tertiary



.main-unset
    width: 100vw
    height: calc(100vh - 100px)
    float: none


.main-div-form
    width: 430px
    height: 500px
    background-color: $color-white
    box-shadow: $box-shadow
    border-radius: $border-radius-big

    .main-div-form-content
        padding: 35px
        display: flex
        flex-direction: column
        align-items: center

    .form-header-content
        height: 90px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center

        img
            width: 40px
            height: 40px
    
    .login-register-link
        margin-top: 5px

    form
        padding-top: 35px
        height: 280px
        width: 100%
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: flex-start

        fieldset
            height: 80px
            width: 100%
            display: flex
            flex-direction: column

        label
            margin-bottom: 10px

        input
            height: 40px
            width: 96%
            background-color: $color-blue-tertiary
            color: $color-blue-primary
            border-radius: $border-radius-small
            box-shadow: $box-shadow
            box-sizing: border-box
            border: 2px solid transparent
            transition: border-color 0.5s

            &:active, &:focus
                outline-color: $color-orange-highlight

            &:hover
                border: 2px solid $color-blue-secondary

            &[type="text"], &[type="password"], &::placeholder
                padding-left: 10px

        button
            align-self: center
            margin-top: 10px

.main-div-form-register
    height: 610px

    form
        height: 400px