@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;600&display=swap');

:root {
    --color-blue-primary: #2F76B0;
    --color-blue-secondary: #E4F3FF;
    --color-blue-tertiary: #F7FBFF;
    --color-orange-highlight: #F1A15B;
    --color-purple-primary: #434198;
    --color-purple-secondary: #F7F7FF;
    --color-gray-primary: #878787;
    --color-gray-secondary: #C4C4C4;
    --color-gray-tertiary: #EDEDED;
    --color-white: #FFFFFF;
    --box-shadow: 3px 2px 8px rgba(51, 51, 51, 0.05);
    --border-radius-big: 10px;
    --border-radius-small: 5px;
    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-family-raleway: 'Raleway', sans-serif;
}

html {
    height: 100vh;
    overflow-y: hidden;
}

body {
    background-color: var(--color-blue-secondary);
    color: var(--color-blue-primary);
    font-family: var(--font-family-raleway);
}

h1, h2 {
    text-transform: uppercase;
    font-family: var(--font-family-montserrat);
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset var(--box-shadow); 
    border-radius: var(--border-radius-big);
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--color-blue-secondary); 
    border-radius: var(--border-radius-big);
    box-shadow: var(--box-shadow);
}
  
  /* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-blue-secondary); 
} */

.border-decoration {
    background-color: var(--color-blue-secondary);
    height: 10px;
    width: 60px;
    border-radius: var(--border-radius-small);
}

h1 ~ .border-decoration {
    margin-top: -9px;
}

.logo-div {
    background-color: var(--color-blue-secondary);
    height: 65px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-p {
    font-size: 10px;
    font-family: var(--font-family-montserrat);
}

.logo-img {
    height: 20px;
    margin-bottom: 3px;
}

.logo-div-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-top {
    background-color: var(--color-white);
    height: 65px;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
}

.background-top-content {
    padding: 0 35px;
}

#menu {
    width: 180px;
    height: 100vh;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    float: left;
}

main {
    /* remove sidebar */
    width: calc(100vw - 180px);
    /* remove top */
    height: calc(100vh - 65px);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-div {
    background-color: var(--color-white);
    width: 95%;
    height: 95%;
    border-radius: var(--border-radius-big);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div-content {
    width: calc(95% - 10px);
    height: calc(95% - 20px);
    overflow-y: auto;
}

.timeframe-div {
    margin-bottom: 35px;
    width: calc(98% - 10px);
}

.timeframe-div h2 {
    margin-bottom: 25px;
}

.main-div-content > .timeframe-div:last-child {
    margin-bottom: 0;   
}

.appointment-div {
    width: 100%;
    height: 50px;
    background-color: var(--color-blue-tertiary);
    border-radius: var(--border-radius-big);
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
}